name: Move Major Release Tag

on:
  release:
    types: [created]

jobs:
  move-major-tag:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Get major version number and update tag
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        MAJOR=${VERSION%%.*}
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git tag -fa ${MAJOR} -m "Update major version tag"
        git push origin ${MAJOR} --force
